.app.dark {
    --bg-color: #343a40;
    --inverted-bg-color: #f1f3f5;
    --primary-color: #74c0fc;
    --secondary-color: #d0ebff;
    --inverted-primary-color: #1864ab;
    --inverted-secondary-color: #1971c2;
}