.app.light {
    --bg-color: #f1f3f5;
    --inverted-bg-color: #343a40;

    --primary-color: #1864ab;
    --secondary-color: #1971c2;

    --inverted-primary-color: #74c0fc;
    --inverted-secondary-color: #d0ebff;
}